@font-face {
    font-family: 'Krub';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Krub&display=swap') format('woff2');
  }
  
  @font-face {
    font-family: 'Krub';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Krub:wght@700&display=swap') format('woff2');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap') format('woff2');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap') format('woff2');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('woff2');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap') format('woff2');
  }
  