:root{
    --font-family1: 'Krub', sans-serif;
    --font-family2: 'Playfair Display', serif;

    --gris:#E2e2e2;

    --color-footer: #1f2232;
    --secundary: #285a84;
    --secundary-hover: #537b9d;
    --primary: #85c872;
    --primary-hover: #6aa05b;
    --blanco: #ffffff;
    --negro: #000;
    --rojo: red;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--font-family1);
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--blanco);
}

/** Utilidades **/

.no-margin{
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.text-left{text-align: left;}


.no-bg{
    background: transparent !important;
}

/** Globales **/

.btn{
    padding: 1rem;
    border-radius: 10px;
}

.btn-primary,
.btn-form{
    background-color: var(--secundary);
    color: var(--blanco);
    transition: background-color .5s ease;
}

.btn-primary:hover,
.btn-form:hover{
    background-color: var(--primary-hover);
    transition: background-color .5s ease;
}

.btn-form{
    outline: none;
    border: none;
    padding: 1rem;
    font-size:2rem;
    border-radius: 0;
    font-weight: bold;
    display: block;
}


.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto !important;
}

.contenedor--w-100{
    width: min(100%, 120rem) !important;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--font-family2);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
    color: var(--secundary);
    margin: 0;
}

h3{
   font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;  
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    text-align: left;
    margin: 0;
}

span{
    color: var(--rojo);
}

/** Header **/

.navegacion{
    display: flex;
    margin: .5rem auto;
    flex-direction: column;
    gap: 4rem;
}

.navegacion__logo a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.navegacion__logo a h3{
    visibility: hidden;
    overflow: hidden;
    display: none;
    color: var(--secundary);
    font-size: 2.8rem;
}

.navegacion__logo a img{
    max-height: 100%;
    height: 15rem;
}

@media(min-width: 768px){
    .navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .navegacion div{
        width: 50%;
    }
    
    .navegacion__logo a{
        height: 6.5rem;
        flex-direction: row;
    }

    .navegacion__logo a h3{
        visibility: hidden;
        display: none;
    }
}

@media(min-width: 1024px){

    .navegacion__logo a h3{
        visibility: visible;
        display: block;
    }
}

.navegacion__enlaces{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navegacion__enlace{
    display: block;
    padding: .2rem 1rem;
    color: var(--secundary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.navegacion__enlace--active,
.navegacion__enlace:hover{
    border-bottom: 2px solid var(--primary);
    transition: border-bottom 0.3s ease;
}

@media(min-width: 768px){
    .navegacion__enlaces{
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 2rem;
        align-items: center;
    }
}

/** HERO **/


.hero{
    background-image: url(../img/Banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60rem;
}


.contenido-hero{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-hero{
    width: 90%;
    max-width: 70rem;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 70%);
    padding: 2rem;
}

.hero-min{
    height: 12.5rem;
}

.hero-min h3{
    color: var(--gris);
    font-weight: bold;
    font-size: 4.2rem;
}

.hero-min .info-hero{
    background-color: transparent;
    padding: 1rem;
}


/* Main */
.main{
    padding: 2rem 0;
    text-align: center;
}

.main__servicios{
    display: grid;
    text-align: left;
    gap: 2rem;
}

.main__servicio{
    border-bottom: 1px solid var(--secundary);
    padding-bottom: 2rem;
}

.main__servicio:last-of-type{
    border-bottom: 0;
    padding-bottom: 0;
}

.main__servicios h3{
    margin: 0;
}
.main__servicio .servicio__images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__servicio .servicio__images img{
    border-radius: 10px;
    height: 30rem;
}

@media(min-width: 768px){

    .main__servicio .servicio__images{
        flex-direction: row;
        height: 20rem;
    }
   
    .main__servicio .servicio__images img{
        height: 100%;
    }
}

@media(min-width: 1024px){
    .main__servicios{
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 0 0 0;
    } 
    .main__servicio{
        border-bottom: 0;
        padding-bottom: 0;
    }

    .main__servicio .servicio__images{
        flex-direction: row;
        height: 20rem;
    }

    .main__servicio .servicio__images img{
        height: 100%;
    }
    
}

/* Noticias */

.section__principal{
    text-align: center;
    padding-top:1rem;
}


.noticias{
    display: grid;
    gap: 2rem;
    margin: 2rem auto;
}


.noticias__noticia{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    border: 1px solid var(--primary-hover);
    padding: 1rem ;
    background-color: var(--gris);
}

.noticias__noticia div{
    width: 100%;
}

@media(min-width: 768px){
    .noticias__noticia{
        flex-direction: row;
    }
    .noticias__noticia div{
        width: 50%;
        height: 30rem;
    }
    
}

@media(min-width: 1024px){
    .noticias{
        grid-template-columns: repeat(2, 1fr);
    }
    .noticias__noticia{
        flex-direction: row;
    }
    .noticias__noticia div{
        width: 50%;
        height: 30rem;
    }
    
}

.preview{
    background-color: var(--blanco);
}

.preview iframe{
    height: 100%;
}

/** secition secundaria **/
.section{
    background-color: var(--gris);
    margin: 4rem 0;
    padding: 2rem;
    text-align: center;
}

.section__secundaria{
    display: grid;
    gap: 2rem;
    margin: 1.5rem;
    padding: 1.5rem;
}

.section .section__secundaria img{
    height: 23rem;
    width: 100%;
    border-radius: 10px;
}

@media(min-width: 768px){
    .section__secundaria{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1024px){
    .section__secundaria{
        grid-template-columns: repeat(4, 1fr);
    }
}



/** Footer **/

.footer{
    background-color: var(--color-footer);
    color: var(--blanco);
    font-weight: bold;
    margin-top: 2rem;
}

.footer__contenedor{
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__logo{
    text-align: center;
}

.footer__logo img{
    height: 20rem;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1.5rem;
}

.footer__info{
    display: grid;
    gap: 4rem;
    width: 80rem;
    max-width: 90%;
    align-items: center;
    padding: 2rem;
}

@media(min-width: 768px){
    .footer__info{
        grid-template-columns: repeat(2, 1fr);
    }

}

.footer__contenedor .p,
.footer__contenedor h4{
    margin: 0 0 .5rem 0;
}

.footer__copyright a{
    color: var(--blanco);
}



/**** Nosotros.html ****/

/* BIC */

.BIC {
    display: grid;
    align-items: center;
}

@media(min-width: 768px){
    .BIC{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* Misión y visión mv */

.mv{
    text-align: left;
    display: grid;
    gap: 2rem;
}

.mv h4{
    background-color: var(--primary);
    padding: 2rem;
    color: var(--blanco);
    border-radius: 10px 10px 0 0;
}

.mv .mv__div{
    border: 1px solid var(--primary-hover);
    border-radius: 10px;
}

.mv p{
    padding: 1rem;
}

@media(min-width: 768px){
    .mv{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* compromiso */

.compromiso{
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--gris);
}

.compromiso h2{
    margin-bottom: 1rem;
}

.compromiso .compromiso__img img{
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 10px;
}

.compromiso .compromiso__img:nth-child(1) img{
    width:50rem;
}

.compromiso .compromiso__content{
    display: grid;
    align-items: center;
}   

.compromiso .compromiso__div:nth-child(3){
    grid-row: 2 / 3;
}

@media(min-width: 768px){
    .compromiso .compromiso__content{
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.4rem;
        gap: 2rem;
    }

    .compromiso .compromiso__div:nth-child(3){
        grid-column: 2 / 3 ;
        grid-row: 1 / 2;
    }
}


@media(min-width: 1024px){
    
    .compromiso .compromiso__content{
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.4rem;
        gap: 2rem;
    }

    .compromiso .compromiso__div:nth-child(3){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}



/* grid normativas */

.grid{
    display: grid;
    gap: 3rem;
    margin: 2rem;
}

.grid__normativa{
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 2px solid var(--primary);
    padding: 2rem;
}

.grid .grid__normativa .grid__info p{
    font-size: 1.5rem;
    line-height: 1;
}

@media(min-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(min-width: 1024px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


/** formulario **/

.formulario{
    margin: 4rem auto;
    width: 80rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gris);
}

@media(min-width: 768px){
    .formulario{
        border-radius: 10px;
    }
}

.formulario .formulario__header,
.formulario .formulario__body,
.formulario .formulario__footer{
    padding: 2rem;
}

.formulario .formulario__header{
    background-color: var(--primary-hover);
    padding: 1rem;
    color: var(--blanco);
    font-weight: bold;
    border-radius: 0;
    
}

@media(min-width: 768px){
    .formulario .formulario__header{
        border-radius: 10px 10px 0 0;
    }
}
.formulario .formulario__body{
    display: grid;
    gap: .5rem 2rem;
    font-weight: bold;
}

.formulario__body .campo{
    display: flex;
}

.formulario .formulario__body .campo .campo__label{ 
    flex: 0 0 10rem;
}

.formulario .formulario__body .campo .campo__field{
    flex:1;
    height: 4rem;
    outline: none;
    border: 1px solid var(--secundary);
    border-radius: .5rem;
    transition: border .5s ease;
}

.formulario__body .campo .campo__field:focus{
    border: 2px solid var(--primary-hover);
}


.formulario .formulario__body .campo .campo__field--textarea{
    height: 20rem !important;
    width: 100% !important;
}

.formulario__body .campo:nth-child(6),
.formulario__body.login .campo.submit{
    justify-content: end;
    margin-top: .5rem;
}


@media(min-width: 768px){
    .formulario .formulario__body{
        grid-template-columns: repeat(2, 1fr);
    }
    .formulario__body .campo:nth-child(5),
    .formulario__body .campo:nth-child(6){
        grid-column: 1 / 3;
        margin-top: 2rem;
    }

    .formulario__body .campo:nth-child(6){
        grid-column: 2 / 3;
    }

    .formulario__body.login .campo:nth-child(5),
    .formulario__body.login .campo:nth-child(6){
        margin-top: 0;
    }

    .formulario__body.login .campo:nth-child(5){
        grid-column: 1 / 2;
    }

    .formulario__body.login .campo.submit {
        grid-column: 1 / 3;
    }
    
}

.formulario .formulario__footer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--secundary);
    color: var(--gris);
    font-weight: bold;
    border-radius:0 ;
    line-height: 1;
}

@media(min-width: 768px){
    .formulario .formulario__footer{
        border-radius: 0 0 10px 10px;
    }
}

/* display: flex;
flex-direction: row;
justify-content: center;
gap: 2rem;
background-color: var(--secundary);
color: var(--blanco);
border-radius: 0 0 10px 10px; */


/* maps */

.maps{
    display: grid;
    gap: 2rem;
    padding: 1rem;
}
.maps div iframe{
    width: 100%;
}

@media(min-width: 768px){
    .maps{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media(min-width:1024px ){
    .maps div:nth-child(2){
        grid-column: 1 / 2;
    }

    .maps div:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
}

.hero.form-lr{
    height: 128rem;
}

.form-register-l .info-hero.no-bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 180rem;
}

@media(min-width: 1024px){
    .form-register-l .info-hero.no-bg {
        flex-direction: row;
    }

    .hero.form-lr{
        height: 80rem;
    }
}


